.container1{
    max-width: 97%;
    margin: 0 auto;
    margin: 0 auto;
    background-color: #6795f8;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    border-radius: 30px;
}

input, select, button {
  width: 300px;
  padding: 10px;
  margin: 10px;
}

@media (max-width: 600px) {
  input, select, button {
    width: 100%;  
    padding: 8px;
    flex-direction: column; 
  }
  select {
    width: 100%
}

.container2{
    max-width: 97%;
    margin: 0 auto;
    margin: 0 auto;
    background-color: #ff78e9;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    border-radius: 30px;
}
form{
    font-size: 20px;
    flex-direction: column; 
    gap: 40px;
}
label{
    font-size: 20px;
    flex-direction: column; 
    gap: 40px;
}
.col{
    display: flex;
    flex-direction: column;
}
input{
    font-size: 20px;
    flex-direction: column; 
    gap: 40px;
    size: 30px;
}
.reg{
    background-color: aliceblue;
    padding-top: 0%;
}
.regh{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.b{
    align-items: center;
    size: 20px;
}
.title{
    text-align: center;
    font-size: 24px;
}
